*{
    margin:0px;
    padding:0px;
}
html,body{
    width:100%;
    height:100%;
    background-color: rgba(127, 255, 176, 0.781);
   display: flex;
    /* align-items: center */
    justify-content: center; 
}
.sun{
    height:40px;
    width:40px;
    margin-left: 155px;

}
.container{
    /* width:800px;
    height:750px;
    color: rgb(0, 255, 38);
    border-box:2px solid red; */
    /* border: 2px solid black; */
    width: 400px;
    height: 420px;
    padding: 10px;
    margin: 70px;
    background-color: rgba(255, 255, 255, 0.692);
    border-radius: 10px;
    text-align: center;

}
.ent{
    border: none; 
    outline: none;
    /* height: 40px; */
    
    width: 200px; 
    height: 35px;
    
    margin-left: 35px;
   
    /* font-weight: 100; */
    font-size: 18px;
    border-radius: 7px;
    padding-left: 20px;
   
}
.text-area{
    display: flex;
    justify-content: space-between;
    /* text-transform: capitalize; */
    margin-top: 35px;
   
   
}
.btn{
    cursor: pointer;
   margin-right: 25px;
   background-color: aqua;
   color:white;
   width: 100px; 
    height: 35px;
    outline: none;
    border: none;
    transition: 0.3s ease-in;
    font-size: 17px;
    border-radius: 5px;
   
}
.btn:hover
{
    background-color:rgba(128, 34, 0, 0.91);
}
.img{
    margin-top: 30px;
    
}
.temp{

    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 100;
    font-size: 40px;
}
.temp1{

    margin-top: 5px;
     margin-bottom: 15px; 
    font-weight: 100;
   
    font-size: 32px;

}
.sun{
    height: 80px;
    width:80px;
    border-radius: 50%;

}
.last{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
   
}
.first{
    width: 100px;
    height: 38px;
    /* padding: 10px; */
   
    background-color: cornflowerblue;
    border-radius: 5px;
    padding-top: 15px;
    margin-bottom: 10px;
}
.second{
    width: 100px;
    height: 40px;
    /* padding: 10px; */
   
    margin-right: 15px;
    background-color: cornflowerblue;
    padding-top: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-left: 6px;
    
}
.third{
    width: 105px;
    height: 38px;
    padding-top: 15px;
   
    border-radius: 5px;
    background-color: cornflowerblue;
    margin-bottom: 10px;
}